*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
    font-size: 2rem;
}

.input_box {
  margin: auto;
  width: 50%;
  padding: 1rem;
  text-align: center;
}

.input_title{
  padding-bottom: .9rem;
}

.label{
  padding-right: .9rem;
  padding-top: 1rem;
}

.output_box {
  margin: auto;
  width: 50%;
  padding: 1rem;
}

.output {
  font: inherit;
  cursor: pointer;
  user-select: none;
  border: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  resize: none;
  width: 100%;
  padding: 3rem 3rem 0 3rem;
}

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

input[type=checkbox] + label::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  bottom: 0;
  background-color: lightgray;
  vertical-align: bottom;
  border-radius: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input[type=checkbox]:checked + label::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#white:checked + label::after {
  background-color: rgb(248,231,185);
}

#blue:checked + label::after {
  background-color: rgb(14,104,171);
}

#green:checked + label::after {
  background-color: rgb(0,115,62);
}

#black:checked + label::after {
  background-color: rgb(21,11,0);
}

#red:checked + label::after {
  background-color: rgb(211,32,42);
}
