*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 10px;
  height: 100%;
  /* font-size: 62.5%; */
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;
  height: 100%;
}

section{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.output_box {
  flex: 1 1 auto;
  padding: 1rem;
}

.output {
  font: inherit;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  resize: none;
  width: 100%;
  height: 100%;
}

.header {
	padding: 2rem 0;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

.title {
	text-align: center;
}

.title_box {
	width: 100%;
	text-align: center;
  padding-bottom: 0.5rem;
}

.container {
	padding: 3rem 0;
}

.line--title {
	padding-bottom: 1.5rem;
  line-height: 1;
}

.checkbox_box {
  padding-right: 2rem;
}

.detail {
  display: flex;
  align-items:center;
}

.detail_icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.detail_icon--red {
  filter: invert(23%) sepia(100%) saturate(2157%) hue-rotate(348deg) brightness(91%) contrast(94%);
}

.detail_icon--green {
  filter: invert(44%) sepia(100%) saturate(350%) hue-rotate(84deg) brightness(87%) contrast(92%);
}

/* .drop-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
}

input[type=checkbox] + label::before {
  content: '';
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 2rem;
  height: 2rem;
  background-color: lightgray;
  vertical-align: bottom;
  border-radius: 100%;
}

input[type=checkbox]:checked + label::after {
  content: '';
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

#white:checked + label::after {
  background-color: rgb(248,231,185);
}

#blue:checked + label::after {
  background-color: rgb(14,104,171);
}

#green:checked + label::after {
  background-color: rgb(0,115,62);
}

#black:checked + label::after {
  background-color: rgb(21,11,0);
}

#red:checked + label::after {
  background-color: rgb(211,32,42);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
 visibility: hidden; /* Hidden by default. Visible on click */
 min-width: 250px; /* Set a default minimum width */
 margin-left: -125px; /* Divide value of min-width by 2 */
 background-color: #333; /* Black background color */
 color: #fff; /* White text color */
 text-align: center; /* Centered text */
 border-radius: 2px; /* Rounded borders */
 padding: 16px; /* Padding */
 position: fixed; /* Sit on top of the screen */
 z-index: 1; /* Add a z-index if needed */
 left: 50%; /* Center the snackbar */
 bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
 visibility: visible; /* Show the snackbar */
 /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}
